body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #dad7cd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-rows: minmax(40px, 50px) auto minmax(40px, 50px);
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

a {
    text-decoration: none;
}

p.info {
    margin: 0;
    font-size: 12px;
    text-align: center;
}